* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

:root {
    font-family: 'Roboto', sans-serif;
    line-height: 1.25;
}

header {
    height: auto;
    overflow: hidden;
    background-position: top;
	font-weight: bold;
    background-color: #C0A05C;
	font-size: 30px;
    border-bottom: thick solid dimgrey;
    text-align: center;
    padding: 40px 0;
}

body {
    background-image: url("../img/bg4.jpg");
    background-size: cover;
    background-blend-mode: color-burn;
    line-height: 1.25;
}


nav {
    height: inherit;
	font-weight: bold;
}

nav > ul {
    list-style: none;
}

nav > ul > li:hover {
    color: #b3936d;
    background-color: white;
    transition: 0.3s;
}

aside, section {
    display: block;
    min-height: 200px;
    border: 1px solid #696969; border-radius: 5px;
    padding: 20px; margin: 2em 1em 1em 1em;
    background-color: hsla(255, 0%, 100%, 0.85);
    color: hsla(0,0%,0%,0.85);
}

aside { float: right; }

footer {
    color: #bbc0c4;
    font-family: "Arial Black", sans-serif;
    width: 100%; height: 125px; align-items: center;
    margin-top: 50px; padding: 15px 20px 10px 20px;
    background-color: #141414;
}

h1,h2,h3 {
    font-family: "Roboto Light", sans-serif;
    font-style: normal;
    text-shadow: 3px 2px 5px #a9a9a9;
    line-height: 1.5;
}

h1 {
    outline: darkorange;
    outline-style: dashed;
    outline-offset: -5px;
    outline-width: 5px;

    display: block;
    box-shadow: 2px 2px 5px #141414;
    padding: 5px; margin-bottom: 50px;
    font-weight: bolder;
    text-align: center;
    background-color: orange;
}

h1::selection {
    background-color: white;
}

p {
    font-weight: normal;
    font-style: normal;
    text-overflow: clip;
	margin-bottom: 20px;
}

.flex-item {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 5pt;
    color: #f8f8ff;
}


ul[class="flex-container"] {
    display: flex;
    flex-flow: row;
    height: 100%;
    width: 100%;
}

table[class="tablazat"] {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: azure;
}

.tablazat tr:nth-of-type(even) {
    background-color: lightcyan;
}

img[src="./img/borasz.jpg"] {
    border: 3px solid black;
    border-radius: 5px;
}

a {
    color:inherit;
    text-decoration:none;
}

em {
    color: red;
    font-style: italic;
    font-weight: normal;
    font-size: large;
    margin: 0 5px;
}

strong {
    font-weight: bolder;
    background-color: hsla(0, 0%, 75%, 1);
}

th {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    font-size:23px;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
     padding:20px;
    text-align:center;
}

#body_main {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    overflow: auto;
    background-color: hsla(255,0%,10%,0.8);
}

#navbar-top {
    position: sticky; top: 0;
    background-color: #141414;
    box-shadow: 0 -5px 10px 10px #141414;
    overflow: no-display;
}

#navbar-menu {
    float: left;
    width: 40%; height: 50px;
    vertical-align: center;
}

#active_menu {
    background:#44F87D;
    color:black
}

#footer-line {
    width: 100%;
    margin: 0 auto;
    border-color: white;
    border-radius: 1px;
}

#footer-github {
    float: left;
    align-self: center;
    margin-top: 25px;
}

#footer-description {
    float: right;
    text-align: left;
    margin-top: 25px;
}
.grow-1 { flex-grow: 1; }
.grow-2 { flex-grow: 2; }

.float-left { float: left; }
.float-right { float: right; }

iframe { border: 0; }

@media print {

    * {
        padding: 0;
        margin: 0;
        color: black;
        background: transparent;
        box-shadow: none;
        text-decoration: none !important;
        text-shadow: none !important;
    }

    img { display: none; }
    header { border-bottom: none; }
    #navbar-top { display: none; }

}

@media screen and (max-width: 690px) { #navbar-menu { display: none; }  aside { display: none } }